server {
    listen                      80;
    server_name                 localhost;
    root                        /usr/share/nginx/html;
    set     $username           $http_ssl_user;
   %%BasicAuth%% auth_basic                 "%%AuthText%%";
   %%BasicAuth%% auth_basic_user_file        %%CaBase%%/htpasswd;
   %%BasicAuth%% if ($username != "anonymous") {
   %%BasicAuth%%    set     $username        $remote_user;
   %%BasicAuth%% }
    set     $acl               "/$request_method/$username/";
    #
    location /auth/ {
       include                  %%CaBase%%/permission.conf;
       location /auth/ {        return 401; }
    }
}
