server {
    listen                      80;
    server_name                 localhost;
    root                        /usr/share/nginx/html;
    set       $username         $http_ssl_user;
    auth_basic                 "%%AuthText%%";
    auth_basic_user_file        %%CaBase%%/htpasswd;
    if ($username != "anonymous") {
       set     $username        $remote_user;
    }
    set     $acl               "/$request_method/$username/";
    #
    location /auth/ {
       include                  %%CaBase%%/permission.conf;
       location /auth/ {        return 401; }
    }
}
